.standard {
    .standard-header {
        padding:20px;
        text-align:center;
        font-size:1.7em;
        border-bottom:2px solid #707070;
        h1 {
            color:#707070;
        }
    }
    .standard-body {
        transition: 1s;
        display:flex;
        .standard-body-main {  
            width:40%;
            text-align:center;
            padding:0 15%;
            margin-top:5%;
        }
    }
    @media (max-width:880px) {
        .standard-body {
            .standard-body-main {  
                width:100%;
                text-align:center;
                padding:0 15%;
                margin-top:5%;
            }
        }   
    }
}

.standard-input {
    border:none;
    border-bottom:3px solid #707070;
    margin: 0 auto;
    margin-bottom:15px;
    width:80%;
    font-size:25px;
    outline: none;
    padding:15px 20px;
    &:focus {
        border-bottom-color:#F59990;
    }
}
.standard-overlap-check-btn {
    cursor: pointer;
    border:1px solid #707070;
    padding:15px 20px;
    border-radius:22px;
    background:white;
    position: absolute;
    right:10%;
    outline:none;
    color:#707070;
    &:hover {
        background:#707070;
        color:white;
    }
}
.standard-next-btn {
    cursor: pointer;
    outline: none;
    border-radius: 53px;
    text-decoration:none;
    border:5px solid #F59990;
    background:none;
    color:#F59990;
    padding:10px 50px;
    font-size:36px;
    &:hover {
        color:white;
        background:#F59990;
    }
}