.password {
    .password-header {
        h1 {
            font-size:35px;
        }
    }
    .password-body {
        margin-top:140px;
        .error {
            color:red;
            opacity:1 !important;
        }
    }
}