.register {
    .register-header {
        padding-bottom:60px;
        h1 {
            font-size:40px;
        }
    }
    .register-body {
        position: relative;
        text-align:center;
        margin-top:50px;
    }
}