.standard-body-main {
    form {
        span {
            float:left;
        }
    }
    .error_password {
        width:80%;
        margin:0 auto;
        text-align:left;
        visibility:hidden;
        position: relative;
        top:10px;
        font-weight:bolder;
        color:red;
    }
    .error-message-active {
        visibility:visible;
    }
    .error-input-active {
        border-color:red;
    }
    @media (max-width:730px) {
        .login-body-main-btn {
            padding:15px 30px;
            width:100%;
            font-size:15px;
        }    
        .standard-body-main-input {
            font-size:15px;
        }
    }
    .login-body-help {
        color:#707070;
        text-align:left;
        margin-top:30px;
        line-height:2;
        span {
            font-size:17px;
        }
        .resetting {
            font-size:17px;
            float:right;
            color:#707070;
        }
        @media (max-width:1105px) {
            span {
                display:none;
            }
            .resetting {
                float:none;
                text-align:center;
            }
        }
    }
}